In [13]:
import pandas as pd
import numpy as np
import math

In [14]:
df = pd.read_csv("./datasets/simulation_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234807 entries, 0 to 234806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    234807 non-null  float64
 1   V1      234807 non-null  float64
 2   V2      234807 non-null  float64
 3   V3      234807 non-null  float64
 4   V4      234807 non-null  float64
 5   V5      234807 non-null  float64
 6   V6      234807 non-null  float64
 7   V7      234807 non-null  float64
 8   V8      234807 non-null  float64
 9   V9      234807 non-null  float64
 10  V10     234807 non-null  float64
 11  V11     234807 non-null  float64
 12  V12     234807 non-null  float64
 13  V13     234807 non-null  float64
 14  V14     234807 non-null  float64
 15  V15     234807 non-null  float64
 16  V16     234807 non-null  float64
 17  V17     234807 non-null  float64
 18  V18     234807 non-null  float64
 19  V19     234807 non-null  float64
 20  V20     234807 non-null  float64
 21  V21     234807 non-null  float64
 22  V22     234807 non-null  float64
 23  V23     234807 non-null  float64
 24  V24     234807 non-null  float64
 25  V25     234807 non-null  float64
 26  V26     234807 non-null  float64
 27  V27     234807 non-null  float64
 28  V28     234807 non-null  float64
 29  Amount  234807 non-null  float64
 30  Class   234807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 55.5 MB

In [15]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,86451.0,2.063642,0.226154,-2.616863,0.279632,0.887885,-1.166203,0.604565,-0.272981,-0.166939,...,0.105997,0.287828,0.013133,0.638531,0.250039,0.638110,-0.122417,-0.063047,10.00,0
1,170028.0,0.031810,0.734747,0.094693,-0.803268,0.613507,-0.547673,0.843295,0.020139,-0.137273,...,-0.249554,-0.619495,0.012228,-0.524087,-0.485370,0.153286,0.236449,0.080604,4.49,0
2,35063.0,1.190009,0.125435,0.187321,0.026473,-0.343860,-1.090263,0.307698,-0.233788,-0.456686,...,-0.353420,-1.135166,0.188036,0.565091,0.057561,0.587088,-0.104904,0.001972,35.00,0
3,80480.0,-0.636527,0.859174,1.492740,-0.356891,0.321050,-1.189856,0.739866,-0.073840,-0.399789,...,-0.187032,-0.703705,-0.021156,0.312844,-0.293846,-0.077875,0.049115,0.131302,1.98,0
4,107679.0,-0.518399,1.218123,2.826422,4.332250,0.637097,1.571573,0.516623,-0.244834,-0.638873,...,0.002217,0.694734,-0.270669,-0.430546,0.134396,0.473593,-0.317961,-0.403148,45.51,0

In [16]:
df.head(1)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,86451.0,2.063642,0.226154,-2.616863,0.279632,0.887885,-1.166203,0.604565,-0.272981,-0.166939,...,0.105997,0.287828,0.013133,0.638531,0.250039,0.63811,-0.122417,-0.063047,10.0,0

In [17]:
df = df.drop(columns=["Class"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234807 entries, 0 to 234806
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    234807 non-null  float64
 1   V1      234807 non-null  float64
 2   V2      234807 non-null  float64
 3   V3      234807 non-null  float64
 4   V4      234807 non-null  float64
 5   V5      234807 non-null  float64
 6   V6      234807 non-null  float64
 7   V7      234807 non-null  float64
 8   V8      234807 non-null  float64
 9   V9      234807 non-null  float64
 10  V10     234807 non-null  float64
 11  V11     234807 non-null  float64
 12  V12     234807 non-null  float64
 13  V13     234807 non-null  float64
 14  V14     234807 non-null  float64
 15  V15     234807 non-null  float64
 16  V16     234807 non-null  float64
 17  V17     234807 non-null  float64
 18  V18     234807 non-null  float64
 19  V19     234807 non-null  float64
 20  V20     234807 non-null  float64
 21  V21     234807 non-null  float64
 22  V22     234807 non-null  float64
 23  V23     234807 non-null  float64
 24  V24     234807 non-null  float64
 25  V25     234807 non-null  float64
 26  V26     234807 non-null  float64
 27  V27     234807 non-null  float64
 28  V28     234807 non-null  float64
 29  Amount  234807 non-null  float64
dtypes: float64(30)
memory usage: 53.7 MB

In [18]:
data_per_file = 10_000
print(f"approx number of files for {data_per_file} data each file: {len(df) / 10_000}")

approx number of files for 10000 data each file: 23.4807

In [19]:
total_files = math.ceil(len(df) / data_per_file)
batched_dfs = np.array_split(df, total_files)

for i, batch in enumerate(batched_dfs):
    print(f"Batch {i+1} size: {len(batch)}")
    batch.to_csv(f"./datasets/simulation_perday_topredict/data_to_predict_{i+1}.csv", index=False)

/home/kaktus/miniconda3/envs/torch280/lib/python3.12/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

Batch 1 size: 9784
Batch 2 size: 9784
Batch 3 size: 9784
Batch 4 size: 9784
Batch 5 size: 9784
Batch 6 size: 9784
Batch 7 size: 9784
Batch 8 size: 9784
Batch 9 size: 9784
Batch 10 size: 9784
Batch 11 size: 9784
Batch 12 size: 9784
Batch 13 size: 9784
Batch 14 size: 9784
Batch 15 size: 9784
Batch 16 size: 9783
Batch 17 size: 9783
Batch 18 size: 9783
Batch 19 size: 9783
Batch 20 size: 9783
Batch 21 size: 9783
Batch 22 size: 9783
Batch 23 size: 9783
Batch 24 size: 9783